[submodule "vendor/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm.git
	ignore = dirty
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/spice"]
	path = lib/spice
	url = https://github.com/OpenSpace/Spice.git
[submodule "lib/date"]
	path = lib/date
	url = https://github.com/HowardHinnant/date.git
